.desc {
    margin-top: 30px;
    width: 800px;
}

.subheader {
    font-size: 20px;
    font-family: "Fira sans", sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
}

@media(max-width: 826px) {
    .desc {
        width: 95%;
    }
}

/* @media (max-width: 736px) {
    .desc {
        width: 600px;
    }
} */

@media (max-width: 662px) {
    .desc {
        width: 95%;
    }
}

@media (max-width: 432px) {
    .desc {
        width: 95%;
    }
}

@media (max-width: 390px) {
    .desc {
        margin-left: 0px;
    }
}