.items{
    width: 100%;
}

.simularMovies{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    margin-left: -10px;
}
.header{
    font-size: 28px;
    font-weight: 700;
    font-family: "Fira sans", sans-serif;
}
