.simularMovies{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
}
.header{
    font-size: 28px;
    font-weight: 700;
    font-family: "Fira sans", sans-serif;
}

.items{
    width: 100%;
}
