.header {
    font-size: 32px;
    font-weight: 500;
    margin-left: 10px;
}

.watch_button {
    font-weight: 500;
    background-color: rgb(31, 41, 55);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.watch_button:hover {
    transition: opacity 124ms linear, transform 124ms linear;
    transform: scale(1.03);
}

@media (max-width: 400px){
    .header{
        font-size: 24px;
    }
}
