::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(28, 30, 50);
}
.navBar{
    background-color: rgb(31, 31, 31);
    height: 60px;
    display: block;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.container{
    max-width: 1300px;
    margin-left: 150px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.navBar_items{
    display: flex;
    align-items: center;
    margin-left: 100px;
    justify-content: space-between;
    margin: 0 auto;
}


.left{
    display: flex;
    align-items: center;
    text-align: center;
}
.left_item{
    color: rgb(200, 200, 200);
    margin-right: 7px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Fira sans", sans-serif;
}

.left_item:hover{
    color: white;
}


.search {
    position: relative;
}

.search_menu {
    z-index: 2;
    position: absolute;
    margin-top: 10;
    width: 350px;
    height: 500px;
    background-color: #333;
    scroll-behavior: auto;
    overflow-y: scroll;
    border-radius: 10px;
}

.search_input {
    position: relative;
    width: 350px;
    z-index: 1;
    border-radius: 10px;
    background-color: #333;
    padding: 10px;
    color: white;
    outline: none;

}

.empty{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: "Fira sans", sans-serif;
    margin-top: 50%;
    font-weight: 400;
}

.signIn{
    display: flex;
    color: rgb(200, 200, 200);
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: "Fira sans", sans-serif;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
}

.signIn:hover{
    color: white;
}