.item{
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px
}

.img{
    position: relative;
    border-radius:5px;
    cursor: pointer;
    width: auto;
}

img:hover{
    transition: opacity 124ms linear, transform 124ms linear;
    transform: scale(1.03);
}


.descr{
    margin-top: 15px;
}

.header{
    font-size: 24px;
    font-family: "Fira sans", sans-serif;
    font-weight: 300;
    cursor: pointer;
}

.year{
    font-size: 16px;
    font-weight: 100;
    margin-top: 5px;
}

.rating{
    display: flex;
    position: absolute;
    top: 0px;
    margin: 10px 0px 0px 7px;
    border: 0;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    font-size: 16px;
    font-family: "Fira sans", sans-serif;
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
}
